body {
    background: pink;
}

body {
    display: block;
    margin: 8px;
    margin-right: auto;
}

html {
    height: auto;
    margin-right: auto;
}

div {
    display: flex;
    justify-content: center;
}

img {
    width: 800px;
    height: 600;
    margin-right: auto;
}

body {
    width: fit-content;
    max-height: fit-content;
}